html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url(anime_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  
}


#clock{
padding: max(0.25em, 0.3em);
margin-bottom: 20rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
font-size: 80px;
backdrop-filter: blur(5px);
background-color: hsla(207, 5%, 46%, 0.108);
color: aliceblue;
}